# Backend Environment Variables
PORT=4000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net
CLOUDINARY_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_SECRET_KEY=your_cloudinary_secret_key
JWT_SECRET=your_jwt_super_secret_key
CLIENT_URL=https://your-spotify-frontend.vercel.app
NODE_ENV=production
